[submodule "external/cake"]
	path = external/cake
	url = https://github.com/cake-build/cake.git
[submodule "external/HolisticWare.Core.Platforms"]
	path = external/HolisticWare.Core.Platforms
	url = https://github.com/moljac/HolisticWare.Core.Platforms.git
